/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-white: #fff;
  --clr-gray: #444;
  --clr--gradient--cta: linear-gradient(
    90deg,
    var(--clr-primary-1),
    var(--clr-primary-5) 50%,
    var(--clr-grey-8)
  );
  --clr--gradient--hover: linear-gradient(
    -90deg,
    var(--clr-primary-1),
    var(--clr-primary-5) 50%,
    var(--clr-grey-8)
  );
  --ff-primary: "Quicksand", sans-serif;
  --ff-secondary: "Quicksand", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-gray);
  line-height: 1.5;
  font-size: 0.85rem;
  border-color: #e5e5e5;
  letter-spacing: var(--spacing);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 0.2s;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--clr-grey-1);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-grey {
  background: var(--clr-grey-10);
}

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

.logo a {
  background: var(--clr--gradient--cta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  display: flex;
  flex-direction: column-reverse;
  min-height: calc(100vh - 5rem - 7rem);
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 3rem;
}

.hero-info h2 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.hero-info p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.hero-img {
  height: 45vh;
}

@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
  .hero-img {
    height: calc(100vh - 5rem - 6rem);
  }

  .hero-info h2 {
    font-size: 3rem;
  }

  .hero-info p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

/*
===============
Footer
===============
*/

.footer p {
  margin-top: 0.5rem;
  color: var(--clr-white);
  font-weight: normal;
  font-size: 0.5rem;
}
.footer p span {
  color: var(--clr-primary-5);
}

.footer p a {
  color: inherit;
  cursor: pointer;
  transition: color 0.2s ease;
  background-color: transparent;
}

.footer-bottom {
  background: #222;
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom p {
  text-align: center;
}

.footer-links {
  margin: 0.5rem auto;
}
.footer .social-link {
  color: var(--clr-white);
  font-size: 1rem;
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 768px) {
  .footer-links {
    margin: 0 auto 1rem auto;
  }
  .footer p {
    font-size: 0.7rem;
  }
}

/*
=============== 
Search
===============
*/

.search-form {
  display: grid;
  grid-row-gap: 1rem;
  justify-items: center;
}

/* Search box */

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 2em;
}

.glass {
  margin: 5px 13px 0 13px;
  color: #9aa0a6;
  height: 26px;
  width: 26px;
  display: inline-block;
  fill: currentColor;
  position: relative;
}

#search {
  flex-grow: 1;
  border: none;
  color: var(--clr-black);
  margin: 2px;
}

#search:focus {
  outline: none;
  border-color: var(--clr-primary-5);
}

.search-label {
  font-size: 1.5rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 250ms;
  display: inline-block;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 786px) {
  .search-form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
  }

  .search-input {
    margin-bottom: 0;
  }

  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }

  .search-label {
    font-size: 1rem;
  }
}

/* Pagination */

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-7);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}
.active-btn {
  background: var(--clr-primary-1);
  color: var(--clr-white);
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/*
=============== 
Item Card
===============
*/

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 1rem 0;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
}

.item-title {
  margin: 1rem;
  font-size: 1rem;
  color: white;
}

.item-img {
  max-height: 75%;
}

.item-info {
  font-size: 0.8rem;
}

/*
=============== 
Page
===============
*/

.main-page {
  min-height: calc(100vh - 5rem - 7rem);
  margin: 3rem;
}
